@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --color-brand-dark: #0f172a;
  --color-brand-accent: #059669;
}

body {
  font-family: var(--font-sans);
}

.scroller-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroller-hide::-webkit-scrollbar {
  display: none;
}
